.flex-container-row {
  display: flex;
  flex-direction: row;
}
.flex-container-colum {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.image-resposive {
  width: 100%;
  aspect-ratio: 15/9;
}

.image-qr {
  width: 80%;
}

.width-60 {
  padding: 5%;
  width: 70%;
}
